body{
    background-color:deepskyblue;
  }
  .buon{
    color:mediumpurple;
    text-align: center;
    font-size: 60px;
  }
  .rank{
     color:mediumpurple;
     font-size: 50px;
  }
  .anni{
   color: mediumpurple;
   font-size: 50px;
  }
  .flex{
    color: mediumpurple;
    font-size: 50px;
  }
  .felice{
    color: mediumpurple;
    font-size: 50px;
  }
  .divertiti{
    color: mediumpurple;
    font-size: 50px;
  }
  .sperim{
    color: mediumpurple;
    font-size: 50px;
  }
  .patente{
    color: mediumpurple;
    font-size: 50px;
  }
  .fine{
    color: mediumpurple;
    font-size: 50px;
  }
  .finito{
    color: mediumpurple;
    font-size: 50px;
  }
  .compleanno{
    color: mediumpurple;
    font-size: 50px;
  }